/First Model Preparation/List of Sites
/First Model Preparation/Model Selection Charts
/First Model Preparation/tinker.py
/First Model Preparation/geckodriver.log
/First Model Preparation/discussion.txt