/First Model Preparation/List of Sites
/First Model Preparation/Model Selection Charts
/First Model Preparation/tinker.py
/First Model Preparation/geckodriver.log
/First Model Preparation/discussion.txt
/First Model Preparation/score_values.spydata
/Second Model Preparation/List of Sites
/Second Model Preparation/demo.docx
/Second Model Preparation/discussion.txt
/Second Model Preparation/geckodriver.log
/Second Model Preparation/temp.txt
/Second Model Preparation/demo.html
/API/geckodriver.log
/Second Model Preparation/temp.py
/Second Model Preparation/Second Iteration Data
